<a href="https://colab.research.google.com/github/gualaba/PythonColabNotebook/blob/main/PythonColabNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Identificadores y variables**

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
miNombre = "Luis Vejarano" #Defino la variable
print(miNombre) #Se muestra la variable

Luis Vejarano

**Tipos de datos primitivos**


*   Numeros enteros: positvos o negativos, sin decimales.

In [ ]:
#Entradas
numero1:int = 57
numero2:int = 20
#Proceso
suma = numero1 + numero2
#Salida
print(suma)

77

In [ ]:
numero3 = 37
numero4 = 50
suma = numero3 + numero4
print(suma)

87


*   Numeros reales: positvos o negativos, que contiene uno o mas decimales.

In [ ]:
nombre = "Juan Perez"
peso:float = 55.2
print(nombre,"tiene un peso de:",peso,"Kg")

Juan Perez tiene un peso de: 55.2 Kg



*   Booleanos: toman dos valores Verdadero o Falso

In [ ]:
esColombiano:bool = True
esArgentino:bool = False
print(esColombiano)
print(esArgentino)

True
False


*   Caracter y Cadena de caracteres

In [ ]:
genero = "@"
mensaje = "Cadena con una comilla simple ', una comilla doble \" 28368463 #$#%$%&"
print(mensaje)
print(genero)

Cadena con una comilla simple ', una comilla doble " 28368463 #$#%$%&
@

**Operadores**


*   Aritméticos

In [ ]:
num1 = 10
num2 = 8
suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2
division = num1 / num2
modulo = num1 % num2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(modulo)

18
2
80
1.25
2


*   Asignación

In [ ]:
x = 7
y = 8
z = 2


*   Relacionales


*   **Condicionales**

In [ ]:
#Simple
a = 33
b = 200
if b > a:
  print("b es mayor que a")

b es mayor que a

In [ ]:
#Doble
m = int(input("Ingrese el numero: "))
n = int(input("Ingrese el numero: "))
if m > n:
  print("m es mayor que n")
else:
  print("m no es mayor que n")

Ingrese el numero: 8
Ingrese el numero: 2
m es mayor que n

In [ ]:
#Multiples
p = 300
q = 300
if p > q:
  print("p es mayor que q")
elif p == q:
  print("p y q son iguales")
else:
  print("p es menor que q")

p y q son iguales

In [ ]:
#Enlazado
dia = int(input("Ingrese el dia (1 -7): "))
if dia == 1:
  print("Lunes")
elif dia == 2:
  print("Martes")
elif dia == 3:
  print("Miercoles")
elif dia == 4:
  print("Jueves")
elif dia == 5:
  print("Viernes")
elif dia == 6:
  print("Sabado")
elif dia == 7:
  print("Domingo")
else:
  print("Dia no valido")

Ingrese el dia (1 -7): 4
Jueves


*  ** Funciones**: Es un bloque de codigo que ***solo*** se ejecuta cuando se le llama, puede pasar datos, conocidos como parámetros y retorna datos como resultado.

In [ ]:
#Definir una funcion
def miFuncion():
  print("Hola desde el cuerpo de la funcion")
  p = 300 #Local
  q = 300 #Local
  if p > q:
    print("p es mayor que q")
  elif p == q:
    print("p y q son iguales")
  else:
    print("p es menor que q")

#Invocar la funcion
miFuncion()

Hola desde el cuerpo de la funcion
p y q son iguales

Argumento: Es el dato que se pasa a la funcion

In [ ]:
def mostrarNombre(nombre):
  print("Su nombre es: "+nombre)

def mostrarNombreCompleto(nom,ape):
  print("Su nombre es: ",nom,ape)

#Invocar la funcion
mostrarNombre("Julian")

#Invocar la funcion
mostrarNombreCompleto("Pedro","Muñoz")

Su nombre es: Julian
Su nombre es:  Pedro Muñoz

Ejemplo con funciones: Calcular el **area** de un triangulo  ![Tg5.png]()

In [ ]:
#Entradas
base = int(input("Ingrese la base: "))
altura = int(input("Ingrese la altura: "))

#Definir la funcion
#Proceso
def calcularAreaTriangulo(base,altura):
  area = (base*altura)/2
  return area

#Salida
#Invocar la funcion
resultado = calcularAreaTriangulo(base,altura)
print("El area del triangulo es",resultado)

Ingrese la base: 8
Ingrese la altura: 4

**Ciclo while**

In [ ]:
#Ejemplo 1

i = 0 #Inicio
while(i <= 6): #Condicion
  print(i) #Bloque
  i += 2 #Actualizacion
  #i = i + 1
print("Siguiente codigo")
def mostrarNombreCompleto(nom,ape):
  print("Su nombre es: ",nom,ape)

#Invocar la funcion
mostrarNombreCompleto("Pedro","Muñoz")

In [ ]:
#Ejemplo 2
i = 2 # Inicializar a i en 2
j = 25 # Inicializar a j en 25
while i < j: # Mientras i sea menor a j
  print(i,j, sep=", ")# Mostrando los valores de i y j
  i *= 2 # i = i*2 ; i se multiplicar por 2 en cada ciclo
  j += 10 # j = j+10; j se incrementa de 10 en 10
print("Fin")
print(i,j, sep=", ")

In [ ]:
#Ejemplo 3
#Definir la funcion
def calcularAreaTriangulo(base,altura):
  area = (base*altura)/2
  return area

#Definir otra funcion
def calcularAreaCuadrado(lad):
  area = lad*lad
  return area

#Definir otra funcion
def mostrarNumeros(num):
  if num > 0:
    print("El numero es positivo")
  elif num == 0:
    print("El numero es cero")
  else:
    print("El numero es negativo")

salir = True #Bandera

while salir == True:
   opcion = int(input("Ingrese una opcion: \n 1. Area Triangulo \n 2. Area Cuadrado \n 3. Numeros \n 4. Salir \n"))
   if opcion == 1:
     base = int(input("Ingrese la base: "))
     altura = int(input("Ingrese la altura"))
     resultado = calcularAreaTriangulo(base,altura)
     print("Area Triangulo",resultado)
   elif opcion == 2:
     lado = int(input("Ingrese el lado: "))
     resultado = calcularAreaCuadrado(lado)
     print("Area Cuadrado",resultado)
   elif opcion == 3:
     num = int(input("Ingrese un numero: "))
     mostrarNumeros(num)
   elif opcion == 4:
     print("Hasta luego :)")
     salir = False
   else:
     print("Opcion no es valida")

**Ciclo hacer mientras**

In [ ]:
#Ejemplo
x = 0
con = True #Bandera garantiza que entre al ciclo almenos un vez

while con == True:
  print(x)
  x += 1
  if x > 10:
    con = False

**Ciclo For**

In [ ]:
#For: Un bucle que se usa para iterar sobre secuencia
#(una lista, una tupla, un diccionario o una cadena de caracteres).
#Ejemplo 1
frutas = ["manzana","banano","pera"]
for x in frutas:#Para cada elemento(X) en la coleccion(frutas) realice las instrucciones en el bloque
  print(x)

In [ ]:
#Ejemplo 2
nombre = "Pedro"
for x in nombre:
  print(x)

Pedro

In [ ]:
#Ejemplo 3
marcas = ["bmw","ford","ferrari","mazda"]
for x in marcas:
  print(x)
  if x == "ferrari":
    print(x+" rojo")
    break

In [ ]:
#Ejemplo 4
for num in range(10):
  print(num)

In [ ]:
#Ejemplo 5
for x in range(2,6):
  print(x)

In [ ]:
#Ejemplo 6
for x in range(2, 30, 2):
  print(x)

**Estructura de datos:** Es una forma de organizar datos en una computadora, para que pueda ser utlizado de menera eficiente.

**Tupla**

In [ ]:
#Define una tupla
tupla = () #Tupla vacia
print(tupla)
mensaje = ("Esto es un texto",) #Una tupla con un elemento que es una cadena
print(mensaje)
tupla1 = ("Una cadena",123)#Una tupla con dos elementos
print(tupla1)
tupla2 = ("apple",2018,"samsung",4.9,"t",True) #Una tupla de seis elementos
print(tupla2)

**Variables**

In [ ]:
tupla3 = (2,4.7,"nota") #Forma uno usando paréntesis
tupla4 = 2,4.7,"nota" #Forma dos solo secuencia con separacion de comas
print(tupla3)
print(tupla4)

**Tuplas anidadas**

In [ ]:
tupla5 = (0,1,2,3)
tupla6 = ("A","B","C")
tupla7 = (tupla5,tupla6)
print(tupla7)
print(tupla7[0])#Muestra solo la tupla5
print(tupla7[1][1])#Muestra de la tupla6 el elemento en el indice 1
print(tupla5[0])#Muestra el elemento en el indice 0

**Operaciones con cadenas**

In [ ]:
#Concatenar
tupla8 = ("A","B","C","E")
tupla9 = (1,2,3,4,5)
tupla10 = tupla8 + tupla9
#print(tupla10)
#print(tupla10[5])

#Repetir
tupla11 = (1,2,3,4,5)
tupla12 = tupla11 * 3
#print(tupla12)

#Comparar
tupla13 = ("Rojas",)
tupla14 = (123,)
tupla15 = ("Rosa",)
tupla16 = ("rosas",)
print((tupla13,tupla14) < (tupla15,tupla14) )
print((tupla15,tupla14) == (tupla16,tupla14))

In [ ]:
#Buscando en un tupla
tupla17 = ("cien","años","de","soledad")
if "años" in tupla17:
  print("Si esta en la tupla")
else:
  print("No esta en la tupla")

In [ ]:
#Iterando en un tupla
tupla18 = ("hola","amigos","mios")
for palabra in tupla18: #para cada palabra de la tupla18
  print(palabra, end=", ")#parametro end evita el salto de linea

In [ ]:
#Funciones
#Retornar mas de un valor
#Definir la funcion
def minmax(a,b):
  if a < b:
    return a,b
  else:
    return b,a

x, y = minmax(5,13) 
print("min =",x,",","max =",y)
x, y = minmax(12,-4)
print("min =",x,",","max =",y)

**Metodos**

In [ ]:
#Len determina la dimension (longitud) de una tupla 
tupla19 = (1,2,3,4)
tupla20 = ("Jazmin","Gustavo","Hugo","Luis","Andres")
print(len(tupla19))
print(len(tupla20))

In [ ]:
#Slice obtener un porcion (subtupla) de un tupla
marcasCelulares = ("apple","xiaomi","samsung","motorola")
print(marcasCelulares[0:2])#valor inicial y valor final de la subtupla
print(marcasCelulares[1:3])#valor inicial y valor final de la subtupla
print(marcasCelulares[:-3])#valor inicial y valor final de la subtupla

In [ ]:
#Count obtiene las veces que un elemento se encuentra en un tupla
tupla21 = (4,1,2,7,9,3,4,5,9,1,4)
print(tupla21.count(4))

In [ ]:
#Buscando con el index
tupla22 = (4,2,7,1,"9",3,5,1)
print(tupla22.index("9"))

**Listas**

In [ ]:
#Definicion de una lista
lista = []#Lista vacia
lista1 = ["Este es un texto"]
lista2 = ["Una cadena",123]
lista3 = [1,2,4.5,"Hola","p"]
print(lista)
print(lista1)
print(lista2)
print(lista3)

**Lista anidadas**

In [ ]:
lista4 = [0,1,2,3]
lista5 = ["A","B","D"]
lista6 = [lista4,lista5]#Nueva lista
print(lista6)
print(lista6[1])
print(lista6[1][1])

**Variables**

In [ ]:
x = []#Se le asigna la lista vacia a la variable x
lista7 = [1,2,3,4.5,"Hola Mundo","a"]#Se le asigna la lista con seis elementos a la variable lista7
a = [1,2,3] #Se le asigna la lista con tres elementos del mismo tipo a la variable a
print(x)
print(lista7)
print(a)

**Operadores**

In [ ]:
#Concatenacion
lista8 = ["A","B","D","E"]
lista9 = [1,2,3,4,5,6]
lista10 = lista8 + lista9 
print(lista10)
print(lista10[6])

In [ ]:
#Agregar un elemento al final (extend) de la lista
nombres1 = ["Jazmin","Gustavo","Fabio","Irma"]
nombres2 = ["James","Luis","Felipe","Juan"]
nombres1.extend(nombres2)

print(nombres1)

In [ ]:
#Repetir
lista11 = ["a",3,"tu",False]
lista12 = lista11*4
print(lista12)

['a', 3, 'tu', False, 'a', 3, 'tu', False, 'a', 3, 'tu', False, 'a', 3, 'tu', False]

In [ ]:
#Comparacion
#Usando los operadores relacionales (==,>,<,>=,<=,!=)
lista13 = ["Rojas",123]
lista14 = ["Rosas",123]
lista15 = ["rosa",123]
lista16 = ["Rosas",23]
print(lista13 < lista14)
print(lista15 > lista16)

True
True

In [ ]:
#Subindice
avengers = ["Ironman", "Thor","Ant-man","Hulk"]
print(avengers[2])
print(avengers[3])
print(avengers[-2])

Ant-man
Hulk
Ant-man

In [ ]:
lista17 = ["cien","años","de","soledad"]
if "de" in lista17:
  print("Si esta en la lista")
else:
  print("No esta en la lista")

In [ ]:
#Es posible determinar si un elemento NO se encuentra en la lista
lista18 = ["cien","años","de","soledad"]
if "sien" not in lista18:
  print("No esta en la lista")
else:
  print("Esta en la lista")

No esta en la lista

In [ ]:
#Iterando un lista
lista19 = ["hola","amigos","como","estan"]
for x in lista19:
  print(x, end=" ")#Parametro end evita el salto de linea

hola amigos como estan